SECRET_KEY="CHANGE-ME"

# 0 False, 1 True
DEBUG="1"

# Comma Separated values
ALLOWED_HOSTS="127.0.0.1, localhost"

DB_ENGINE="django.db.backends.postgresql"
POSTGRES_DB="CHANGE-ME"
POSTGRES_USER="CHANGE-ME"
POSTGRES_PASSWORD="CHANGE-ME"
POSTGRES_HOST="localhost"
POSTGRES_PORT="5432"

# Stripe config
STRIPE_LIVE_SECRET_KEY="your secret key to production"
STRIPE_TEST_SECRET_KEY="your secret key to dev"
STRIPE_TEST_WEBHOOK_SECRET="whsec_..."
STRIPE_LIVE_WEBHOOK_SECRET="whsec_..."
STRIPE_LIVE_MODE=0