{% extends "expenses/base.html" %}

{% block content %}
<div class="flex-frame-login-form margin-form-team">
    <div class="form-wrapper flex-frame max-width-form-profile
            margin-top-mendium padding-forms">
            <h2 class="expense-detail-title expense-info-title">
                <i class="fa-solid fa-triangle-exclamation"></i>
                MOTIVO DA RECUSA
            </h2>
        <form action="{{form_action}}" method="post" enctype="multipart/form-data">     

            {% csrf_token %}           
            <div class="form-content">
                
                {% for field in form %} 
                <div class="form-group">
                    <label for="{{field.id_for_label}}">{{field.label}}</label>
                    {{field}}
                    {{field.errors}}

                    <p class="help-text">
                        {{field.help_text}}
                    </p>
                </div>
                {% endfor %}

            </div>

            {% if form.non_field_errors %}
            <div class="form-content">
                <div class="form-group">
                    <div class="message error">
                        {{form.non_field_errors}}
                    </div>
                    
                </div>
            </div>
            {% endif %}

            <div class="form-content">
                <div class="form-group">
                    <button class="btn expense-recused" type='submit'>RECUSAR REEMBOLSO</button>
                </div>
            </div>
        
        </form>
    </div>
</div>
{% endblock content %}