{% extends "expenses/base.html" %}
{% load static %}


{% block content %}
<div class="background-image-blue">
    <div class="container-logo-text-flext background-transiction-blue">
        <img 
            src="{% static "expenses/images/logo_transparent_512.png" %}" 
            alt="logo" class="logo-image">
        </img>
        <h1 class="login-pitch-title">ExpenseFlow</h1>
    </div>
    <main class="chose-main-container">
        <div class="chose-flex-container">
            <!-- Card de Informações Bancárias -->
            <div class="chose-flex-colum-1">
                <a  class='remove-text-decoration center-text'  href="{% url "expense:register_enterprise" %}">
                    <div class="expense-info-card">
                        <div class='chose-detail-card'>
                            <i class="fa-solid fa-building fa-10x"></i>
                            <h1>
                                CADASTRAR MINHA EMPRESA
                            </h1>
                        </div>
                    </div>
                </a>
            </div>

            <div class="chose-flex-colum-2">
                <a class='remove-text-decoration center-text'  href="{% url "expense:complete_profile" %}">
                    <div class="expense-info-card">
                        <div class='chose-detail-card'>
                            <i class="fa-solid fa-user fa-10x"></i>
                            <h1>
                                ME CADASTRAR COMO USUÁRIO
                            </h1>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </main>
</div>

{% endblock content %}