{% extends "expenses/base.html" %}
{% load static %}

{% block content %} 
    
    <div class="message success">
        <i class="fa-solid fa-circle-check fa-2x"></i>
        <p class="message-text">
            DESPESA LANÇADA COM SUCESSO
        </p>         
    </div>         

    <div class='form-flex'>

        <div id='nf-picture' class="drag-and-drop flex-frame internal-website-form">
            {% if form.instance.picture %}
                <img src="{{form.instance.picture.url}}" alt="Recibo">
            {% else %}
            <a class="display-block-text-center">
                <i class="fa-solid fa-cloud-arrow-up fa-3x"></i>
                <p>Arraste a imagem do recibo aqui ou clique para selecionar<p>
            </a>
            {% endif %}            
        </div>

        <div class="form-wrapper flex-frame internal-website-form form-create-expense">
            <h2 class="expense-detail-title expense-info-title">
                <i class="fa-solid fa-cart-shopping"></i>
                {{title_page}}
            </h2>
            <form id="form-expense" action="{{form_action}}" method="post" enctype="multipart/form-data">     
                
                {% csrf_token %}
                <input type="file" name="picture" id="picture-input" accept="image/*" style="display: none;" required>

                <div class="form-content">
                    {% for field in form %}

                        {% if field.name != 'picture' %}

                            {% if field.name == 'category'%}
                                <div class="form-row-two-columns">
                            {% endif %}
                        
                            {% if field.name == 'state_uf'%}
                                <div class="form-row-tree-columns">
                            {% endif %}

                            {% if field.name == 'date'%}
                                <div class="form-row-tree-columns">
                            {% endif %}

                            <div class="form-group">
                                <label for="{{field.id_for_label}}">{{field.label}}</label>
                                {{field}}
                                {{field.errors}}

                                {% if field.help_text %}
                                    <p class="help-text">
                                        {{field.help_text}}
                                    </p>
                                {% endif %}
                            </div>

                            {% if field.name == 'supply' %}
                                </div>
                            {% endif %}
                        
                            {% if field.name == 'nf' %}
                                </div>
                            {% endif %}

                            {% if field.name == 'value' %}
                                </div>
                            {% endif %}

                        {% endif %}
                    
                    {% endfor %}
                </div>

                {% if form.non_field_errors %}
                <div class="form-content">
                    <div class="form-group">
                        <div class="message error">
                            {{form.non_field_errors}}
                        </div>
                        
                    </div>
                </div>
                {% endif %}
                
                <div class="form-content">
                    <div class="form-group">
                        <button class="btn" type='submit'>{{title_page}}</button>
                    </div>
                </div>
            
            </form>
        </div>
    </div>

    {% block javascript %}
    <script type='module' src="{% static "expenses/javascript/disableMessage.js" %}"></script>
    {% endblock javascript %}

{% endblock content %}