{% extends "expenses/base.html" %}

{% block content %}
<div class="expense-detail-container center-text">
    <h1 class="expense-detail-title expense-info-title">
        <i class="fa-solid fa-arrows-spin"></i>
        MEUS CICLOS
    </h1>
    <div class="contact-links">
        <a class='btn btn-link ' href="{% url "expense:index" %}">
            <i class="fa-solid fa-arrow-left"></i>
            VOLTAR
        </a>
        <a class='btn btn-link btn-approved' href="{% url "expense:create_cycle" %}">
            <i class="fa-solid fa-plus"></i>
            ADICIONAR CICLO
        </a>
    </div>
    
    <div class="expense-detail-grid">

        {% if cycles %}
        {% for cycle in cycles %}
        {% if cycle.owner == user %}
        <div class="card-cicles-container">
            <a  class='remove-text-decoration'  href="{% url "expense:cycle" cycle.id %}">
                <div class="expense-info-card">
                    <h2 class="expense-info-title">
                        <i class="fa-solid fa-arrows-spin"></i>
                        {{cycle.name}}
                    </h2>
                    <div class="expense-info-grid">
                        <div class="expense-info-item">
                            <span class="expense-info-label">
                                <i class="fa-solid fa-calendar"></i>
                                Data Inicial
                            </span>
                            <span class="expense-info-value">{{cycle.initial_date}}</span>
                        </div>
                        <div class="expense-info-item">
                            <span class="expense-info-label">
                            <i class="fa-solid fa-calendar"></i>
                                Data Final
                            </span>
                            <span class="expense-info-value">
                                <span class="expense-info-value">{{cycle.end_date}}</span>
                            </span>
                        </div>
                        <div class="expense-info-item">
                            <span class="expense-info-label">
                                <i class="fa-solid fa-user"></i>
                                Criado por:
                            </span>
                            <span class="expense-info-value">{{cycle.owner.first_name}} {{cycle.owner.last_name}}</span>
                        </div>
                        <div class="expense-info-item">
                            <span class="expense-info-label">
                                <i class="fa-solid fa-clock"></i>
                                Status
                            </span>
                            {% if cycle.is_open %}
                                <span class="expense-badge expense-approved">
                                    <i class="fa-solid fa-unlock"></i>
                                    Aberto
                                </span>
                            {% else %}  
                                <span class="expense-badge expense-recused">
                                    <i class="fa-solid fa-lock"></i>
                                    Fechado
                                </span>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </a>
        </div>
                {% endif %}
        {% endfor %}
    

        {% else %}
        <div class="single-contact">
            <h1 class="single-cont act-name">
                Nenhum ciclo criado
            </h1>
        </div>
        {% endif %}
    </div>
{% endblock content %}
