{% extends "expenses/base.html" %}

{% block content %}
<div class="expense-detail-container">
    <h1 class="expense-detail-title expense-info-title">
        <i class="fa-solid fa-chart-pie"></i>
        DASHBORDS DE GERENTE
    </h1>

    <div class="contact-links">
        <a class='btn btn-link ' href="{% url "expense:index" %}">
            <i class="fa-solid fa-arrow-left"></i>
            VOLTAR
        </a>
    </div>

    <div class="expense-description-card center-text margin-botton-mendium">
        <h2 class="expense-info-title">
        <i class="fa-solid fa-database"></i>           
            ANÁLISES
        </h2>
        <div class="grid-four-columns">
            <div class="expense-info-item center-text user-member">
                {% comment %} Total cost enterprise {% endcomment %}
                <p class="expense-info-label">
                    <i class="fa-solid fa-file-invoice-dollar"></i>
                    Valor de despesas pendentes de aprovação
                </p>
                <p id="pending-expenses-value" class="expense-info-value expense-value-highlight"></p>
            </div>

            <div class="expense-info-item center-text user-member">
                {% comment %} Team Registers {% endcomment %}
                <p class="expense-info-label">
                    <i class="fa-solid fa-circle-check"></i>
                    Valor total de despesas aprovadas no mês
                </p>
                <p id="total-approved-month" class="expense-info-value expense-value-highlight"></p>
            </div>

            <div class="expense-info-item center-text user-member">
                {% comment %} Total cost enterprise {% endcomment %}
                <p class="expense-info-label">
                    <i class="fa-solid fa-hourglass-half"></i>
                    Despesas esperando aprovação
                </p>
                <p id="awaiting-approval" class="expense-info-value expense-value-highlight"></p>
            </div>

            <div class="expense-info-item center-text user-member">
                {% comment %} Total cost enterprise {% endcomment %}
                <p class="expense-info-label">
                    <i class="fa-solid fa-users"></i>
                    Quantidade de membros na equipe
                </p>
                <p id="team-members" class="expense-info-value expense-value-highlight"></p>
            </div>
        </div>
    </div>     
    
    <div class="expense-detail-grid">
        <div class="expense-info-card center-text">
            <h2 class="expense-info-title">
                <i class="fa-solid fa-chart-pie"></i>
                Custo x Categoria
            </h2>

            <div>
                <canvas id="chart-category" style="max-height: 250px;"></canvas>
            </div>
        </div>

        <div class="expense-info-card center-text">
            <h2 class="expense-info-title">
                <i class="fa-solid fa-chart-pie"></i>
                
            </h2>
            <div>
                <canvas id="chart-per-member" style="max-height: 250px;"></canvas>
            </div>
        </div>

        <div class="expense-description-card center-text">
            <h2 class="expense-info-title">
                <i class="fa-solid fa-chart-pie"></i>
                Evolução dos custos x Mês
            </h2>
            <div>
                <canvas id="chart-month" style="max-height: 250px;"></canvas>
            </div>
        </div>

        <div class="expense-info-card center-text">
            <h2 class="expense-info-title">
                <i class="fa-solid fa-chart-pie"></i>
                    Custo médio diário
            </h2>
            <div>
                <canvas id="chart-avg-day" style="max-height: 250px;"></canvas>
            </div>
        </div>

        <div class="expense-info-card center-text">
            <h2 class="expense-info-title">
                <i class="fa-solid fa-chart-pie"></i>
                    Consumo de combustível x Membro
            </h2>
            <div>
                <canvas id="chart-avg-fuel" style="max-height: 250px;"></canvas>
            </div>
        </div>

        <div class="expense-info-card center-text">
            <h2 class="expense-info-title">
                <i class="fa-solid fa-chart-pie"></i>
                Custo médio/Litro x Equipe
            </h2>
            <div>
                <canvas id="chart-avg-cost-fuel" style="max-height: 250px;"></canvas>
            </div>
        </div>

        <div class="expense-info-card center-text">
            <h2 class="expense-info-title">
                <i class="fa-solid fa-chart-pie"></i>
                Custo médio/km x Equipe
            </h2>
            <div>
                <canvas id="chart-avg-cost-km" style="max-height: 250px;"></canvas>
            </div>
        </div>

    </div>
{% endblock content %}