{% extends "expenses/base.html" %}

{% block content %}
<div class="expense-detail-container">
    <h1 class="expense-detail-title expense-info-title">
        <i class="fa-solid fa-chart-pie"></i>
        DASHBORDS DE OPERADOR
    </h1>

    <div class="contact-links">
        <a class='btn btn-link ' href="{% url "expense:index" %}">
            <i class="fa-solid fa-arrow-left"></i>
            VOLTAR
        </a>
    </div>

    <div class="expense-description-card center-text">
        <h2 class="expense-info-title">
        <i class="fa-solid fa-database"></i>           
            ANÁLISES
        </h2>
        <div class="grid-four-columns">
            <div class="expense-info-item center-text user-member">
                {% comment %} Team Registers {% endcomment %}
                <p class="expense-info-label">
                    <i class="fa-solid fa-circle-check"></i>
                    Valor total aprovado no mês
                </p>
                <p id='total-approved-month'   class="expense-info-value expense-value-highlight">
                
                </p>  
            </div>

            <div class="expense-info-item center-text user-member">
                {% comment %} Total cost enterprise {% endcomment %}
                <p class="expense-info-label">
                    <i class="fa-solid fa-file-invoice-dollar"></i>
                    Valor de despesas recusadas no mês
                </p>
                <p id='recused-expenses-value'   class="expense-info-value expense-value-highlight">
                
                </p>  
            </div>
            
            <div class="expense-info-item center-text user-member">
                {% comment %} Total cost enterprise {% endcomment %}
                <p class="expense-info-label">
                    <i class="fa-solid fa-hourglass-half"></i>
                    Despesas aguardando aprovação
                </p>
                <p id='awaiting-approval'   class="expense-info-value expense-value-highlight">
                    
                </p>  
            </div>
            <div class="expense-info-item center-text user-member">
                {% comment %} Total cost enterprise {% endcomment %}
                <p class="expense-info-label margin-botton-med-high">
                    <i class="fa-solid fa-arrows-spin"></i>   
                    Ciclo atual
                </p>
                <p id='current-cicle'   class="expense-info-value expense-value-highlight">
                    
                </p>  
            </div>
        </div>
    </div>     
    
    <div class="expense-detail-grid">
        <div class="expense-info-card center-text">
            <h2 class="expense-info-title">
                <i class="fa-solid fa-chart-pie"></i>
                Custo x Categoria ultimos 12 meses
            </h2>

            <div>
                <canvas id="chart-category" style="max-height: 250px;"></canvas>
            </div>
        </div>

        <div class="expense-info-card center-text">
            <h2 class="expense-info-title">
                <i class="fa-solid fa-chart-pie"></i>
                Custo x Ciclo
            </h2>

            <div>
                <canvas id="chart-cicle" style="max-height: 250px;"></canvas>
            </div>
        </div>

        <div class="expense-description-card center-text">
            <h2 class="expense-info-title">
                <i class="fa-solid fa-chart-pie"></i>
                Evolução dos custos x Mês
            </h2>
            <div>
                <canvas id="chart-month" style="max-height: 250px;"></canvas>
            </div>
        </div>

        <div class="expense-info-card center-text">
            <h2 class="expense-info-title">
                <i class="fa-solid fa-chart-pie"></i>
                Custo médio diário 
            </h2>
            <div>
                <canvas id="chart-avg-day" style="max-height: 250px;"></canvas>
            </div>
        </div>

        <div class="expense-info-card center-text">
            <h2 class="expense-info-title">
                <i class="fa-solid fa-chart-pie"></i>
                Consumo de combustível x Ciclo
            </h2>
            <div>
                <canvas id="chart-avg-fuel" style="max-height: 250px;"></canvas>
            </div>
        </div>

        <div class="expense-info-card center-text">
            <h2 class="expense-info-title">
                <i class="fa-solid fa-chart-pie"></i>
                Custo médio/Litro x Ciclo
            </h2>
            <div>
                <canvas id="chart-avg-cost-fuel" style="max-height: 250px;"></canvas>
            </div>
        </div>

        <div class="expense-info-card center-text">
            <h2 class="expense-info-title">
                <i class="fa-solid fa-chart-pie"></i>
                Custo médio/km x Ciclo
            </h2>
            <div>
                <canvas id="chart-avg-cost-km" style="max-height: 250px;"></canvas>
            </div>
        </div>

    </div>
{% endblock content %}