{% extends "expenses/base.html" %}

{% block content %}
<div class="expense-detail-container">
    <h1 class="expense-detail-title expense-info-title">
        <i class="fa-solid fa-chart-pie"></i>
        DASHBORDS DE ADMINISTRADOR
    </h1>

    <div class="contact-links">
        <a class='btn btn-link ' href="{% url "expense:index" %}">
            <i class="fa-solid fa-arrow-left"></i>
            VOLTAR
        </a>
    </div>

    <div class="expense-description-card center-text margin-botton-mendium">
        <h2 class="expense-info-title">
        <i class="fa-solid fa-database"></i>           
            ANÁLISES
        </h2>
        <div class="grid-three-columns">
            <div class="expense-info-item center-text user-member">
                {% comment %} Total cost enterprise {% endcomment %}
                <p class="expense-info-label">
                    <i class="fa-solid fa-magnifying-glass-dollar"></i>
                    Custo total Empresa
                </p>
                <p id='total-enterprise'   class="expense-info-value expense-value-highlight">
                
                </p>  
            </div>
            <div class="expense-info-item center-text user-member">
                {% comment %} Team Registers {% endcomment %}
                <p class="expense-info-label">
                    <i class="fa-solid fa-people-group"></i>
                    Equipes cadastradas
                </p>
                <p id='team-registers'   class="expense-info-value expense-value-highlight">
                
                </p>  
            </div>
            <div class="expense-info-item center-text user-member">
                {% comment %} Total cost enterprise {% endcomment %}
                <p class="expense-info-label">
                    <i class="fa-solid fa-hands-holding-circle"></i>
                    Projeção de custo para este mês
                </p>
                <p id='projection-month'   class="expense-info-value expense-value-highlight">
                    
                </p>  
            </div>
        </div>
    </div>     
    
    <div class="expense-detail-grid">
        <div class="expense-info-card center-text">
            <h2 class="expense-info-title">
                <i class="fa-solid fa-chart-pie"></i>
                Custo x Categoria
            </h2>

            <div>
                <canvas id="chart-category" style="max-height: 250px;"></canvas>
            </div>
        </div>

        <div class="expense-info-card center-text">
            <h2 class="expense-info-title">
                <i class="fa-solid fa-chart-pie"></i>
                Custo x Equpe
            </h2>

            <div>
                <canvas id="chart-team" style="max-height: 250px;"></canvas>
            </div>
        </div>

        <div class="expense-description-card center-text">
            <h2 class="expense-info-title">
                <i class="fa-solid fa-chart-pie"></i>
                Evolução dos custos x Mês
            </h2>
            <div>
                <canvas id="chart-month" style="max-height: 250px;"></canvas>
            </div>
        </div>

        <div class="expense-info-card center-text">
            <h2 class="expense-info-title">
                <i class="fa-solid fa-chart-pie"></i>
                Custo médio diário 
            </h2>
            <div>
                <canvas id="chart-avg-day" style="max-height: 250px;"></canvas>
            </div>
        </div>

        <div class="expense-info-card center-text">
            <h2 class="expense-info-title">
                <i class="fa-solid fa-chart-pie"></i>
                Consumo de combustível x Equipe
            </h2>
            <div>
                <canvas id="chart-avg-fuel" style="max-height: 250px;"></canvas>
            </div>
        </div>

        <div class="expense-info-card center-text">
            <h2 class="expense-info-title">
                <i class="fa-solid fa-chart-pie"></i>
                Custo médio/Litro x Equipe
            </h2>
            <div>
                <canvas id="chart-avg-cost-fuel" style="max-height: 250px;"></canvas>
            </div>
        </div>

        <div class="expense-info-card center-text">
            <h2 class="expense-info-title">
                <i class="fa-solid fa-chart-pie"></i>
                Custo médio/km x Equipe
            </h2>
            <div>
                <canvas id="chart-avg-cost-km" style="max-height: 250px;"></canvas>
            </div>
        </div>

    </div>
{% endblock content %}