{% extends "expenses/base.html" %}

{% block content %}
<div class="expense-detail-container">
    <h1 class="expense-detail-title expense-info-title">
        <i class="fa-solid fa-chart-pie"></i>
        DASHBORDS
    </h1>

    <div class="contact-links">
        <a class='btn btn-link ' href="{% url "expense:index" %}">
            <i class="fa-solid fa-arrow-left"></i>
            VOLTAR
        </a>
    </div>
    
    <div class="expense-detail-grid">
        <div class="expense-info-card">
            <h2 class="expense-info-title">
                <i class="fa-solid fa-chart-pie"></i>
                Custo x Categoria
            </h2>

            <div>
                <canvas id="chart-category" style="max-height: 250px;"></canvas>
            </div>
        </div>

        <div class="expense-info-card">
            <h2 class="expense-info-title">
                <i class="fa-solid fa-chart-pie"></i>
                Custo x Ciclo
            </h2>

            <div>
                <canvas id="chart-cycle" style="max-height: 250px;"></canvas>
            </div>
        </div>

        <div class="expense-description-card">
            <h2 class="expense-info-title">
                <i class="fa-solid fa-chart-pie"></i>
                Evolução dos custos x Mês
            </h2>
            <div>
                <canvas id="chart-month" style="max-height: 250px;"></canvas>
            </div>
        </div>

        <div class="expense-info-card">
            <h2 class="expense-info-title">
                <i class="fa-solid fa-chart-pie"></i>
                Custo médio diário x Ciclo
            </h2>
            <div>
                <canvas id="chart-avg-day" style="max-height: 250px;"></canvas>
            </div>
        </div>

        <div class="expense-info-card">
            <h2 class="expense-info-title">
                <i class="fa-solid fa-chart-pie"></i>
                Consumo de combustível x Ciclo
            </h2>
            <div>
                <canvas id="chart-avg-fuel" style="max-height: 250px;"></canvas>
            </div>
        </div>

        <div class="expense-info-card">
            <h2 class="expense-info-title">
                <i class="fa-solid fa-chart-pie"></i>
                Custo médio/Litro
            </h2>
            <div>
                <canvas id="chart-avg-cost-fuel" style="max-height: 250px;"></canvas>
            </div>
        </div>

        <div class="expense-info-card">
            <h2 class="expense-info-title">
                <i class="fa-solid fa-chart-pie"></i>
                Custo médio/km
            </h2>
            <div>
                <canvas id="chart-avg-cost-km" style="max-height: 250px;"></canvas>
            </div>
        </div>

    </div>
{% endblock content %}