{% extends "expenses/base.html" %}

{% block content %}
<div class="expense-detail-container center-text">
    <h1 class="expense-detail-title expense-info-title">
        <i class="fa-solid fa-user"></i>
        PERFIL DO USUÁRIO
    </h1>
    <div class="contact-links">
        <a class='btn btn-link ' href="{% url "expense:index" %}">
                <i class="fa-solid fa-arrow-left"></i>
                VOLTAR
        </a>
        {% if not operator %}
            <a class='btn btn-link btn-approved' href="{% url "expense:filter_per_user" user.username%}">
                <i class="fa-solid fa-cart-shopping"></i>
                VER DESPESAS DO USUÁRIO
            </a>
        {% endif %}
    </div>
    <div class="expense-detail-grid">

        <!-- Card de Informações Bancárias -->
        <div class="expense-info-card">
            <h2 class="expense-info-title">
            <i class="fa-solid fa-circle-info"></i>
                Informações Pessoais
            </h2>
            <div class="expense-info-grid">
                <div class="expense-info-item">
                    <span class="expense-info-label">
                    <i class="fa-solid fa-person"></i>
                        Nome completo
                    </span>
                    <span class="expense-info-value">{{user.first_name}} {{user.last_name}}</span>
                </div>
                <div class="expense-info-item">
                    <span class="expense-info-label">
                    <i class="fa-solid fa-envelope"></i>
                        E-mail
                    </span>
                    <span class="expense-info-value">
                        <span class="expense-info-value">{{user.email}}</span>
                    </span>
                </div>
                <div class="expense-info-item">
                    <span class="expense-info-label">
                    <i class="fa-solid fa-phone"></i>
                        Celular
                    </span>
                    <span class="expense-info-value">{{user.profile.phone|default:"Não cadastrado"}}</span>
                </div>
                <div class="expense-info-item">
                    <span class="expense-info-label">
                        <i class="fa-solid fa-user"></i>
                        Usuário
                    </span>
                    <span class="expense-info-value">{{user.username}}</span>
                </div>
            </div>
        </div>

        <div class="expense-info-card">
            <h2 class="expense-info-title">
            <i class="fa-solid fa-wallet"></i>
                Informações Bancárias
            </h2>
            <div class="expense-info-grid">
                <div class="expense-info-item">
                    <span class="expense-info-label">
                        <i class="fa-solid fa-building-columns"></i>
                        Banco
                    </span>
                    <span class="expense-info-value">{{user.profile.bank | default:"Não cadastrado"}}</span>
                </div>
                <div class="expense-info-item">
                    <span class="expense-info-label">
                    <i class="fa-solid fa-building"></i>
                        Agência
                    </span>
                    <span class="expense-info-value">
                        <span class="expense-info-value">{{user.profile.agency | default:"Não cadastrado"}}</span>
                    </span>
                </div>
                <div class="expense-info-item">
                    <span class="expense-info-label">
                        <i class="fa-solid fa-circle-dollar-to-slot"></i>
                        Número da Conta
                    </span>
                    <span class="expense-info-value">{{user.profile.account | default:"Não cadastrado"}}</span>
                </div>
                <div class="expense-info-item">
                    <span class="expense-info-label">
                        <i class="fa-solid fa-money-bill-transfer"></i>
                        Tipo de Conta
                    </span>
                    <span class="expense-info-value">{{user.profile.account_type | default:"Não cadastrado"}}</span>
                </div>
            </div>
        </div>

        <!-- Card de Localização -->
        <div class="expense-info-card">
            <h2 class="expense-info-title">
            <i class="fa-solid fa-map-location-dot"></i>
                Informações de Localização
            </h2>
            <div class="expense-info-grid">
                <div class="expense-info-item">
                    <span class="expense-info-label">
                        <i class="fa-solid fa-city"></i>
                        Cidade
                    </span>
                    <span class="expense-info-value">{{user.profile.city|default:"Não informado"}}</span>
                </div>
                <div class="expense-info-item">
                    <span class="expense-info-label">
                        <i class="fa-solid fa-location-dot"></i>
                        Estado
                    </span>
                    <span class="expense-info-value">{{user.profile.state_uf|default:"Não informado"}}</span>
                </div>
            </div>
        </div>

        <!-- Card de Valores -->
        <div class="expense-info-card center-text">
            <h2 class="expense-info-title">
            <i class="fa-solid fa-briefcase"></i>
                Informações corporativas
            </h2>
            <div class="expense-info-grid">
                <div class="expense-info-item">
                    <span class="expense-info-label">
                        <i class="fa-solid fa-industry"></i>
                        Empresa
                    </span>
                    <span class="expense-info-value">{{user.profile.enterprise | default:"Não informado"}}</span>
                </div>
                <div class="expense-info-item">
                    <span class="expense-info-label">
                        <i class="fa-solid fa-people-group"></i>
                        Equipe
                    </span>
                    <span class="expense-info-value">{{user.profile.team.name | default:"Não informado"}}</span>
                </div>
                <div class="expense-info-item">
                    <span class="expense-info-label">
                        <i class="fa-solid fa-sitemap"></i>
                        Centro de Custo
                    </span>
                    <span class="expense-info-value">{{user.profile.team.cost_center | default:"Não informado"}}</span>
                </div>
                <div class="expense-info-item">
                    <span class="expense-info-label">
                        <i class="fa-solid fa-car"></i>
                        Número da Frota
                    </span>
                    <span class="expense-info-value">{{user.profile.fleet_number | default:"Não informado"}}</span>
                </div>
            </div>
        </div>
    </div>

    {% if request.user == user %}
    <div class="contact-links">
        <a class='btn btn-link' href="{% url "expense:user_update" %}">
            <i class="fa-solid fa-pen-to-square"></i>
            ATUALIZAR  PERFIL
        </a>
        {% if company_admin %}
        <a class='btn btn-link' href="{% url "expense:update_enterprise" %}">
            <i class="fa-solid fa-industry"></i>
            ATUALIZAR  EMPRESA
        </a>
        {% endif %}
    </div>
    
    {% else %}
        <main>
        <form action="{% url "expense:remove_member" user.profile.team.id user.id %}" method='POST'>
            {% csrf_token %}

            {% if confirmation == 'no' %}
                <input type="hidden" name="confirmation" value="yes">
                <button 
                id='delete'
                class="btn btn-link btn-delete"
                type='submit'>
                    CONFIRMA A REMOÇÃO?
                </button>            
            {% else %}
                <button 
                class="btn btn-link btn-delete"
                onclick='backToDeleteButton()'>
                    <i class="fa-solid fa-trash"></i>
                    REMOVER USUÁRIO
                </button>            
            {% endif %}
        </form>
    </div>

    <script>
        
        window.addEventListener('DOMContentLoaded', function (){
        {% if confirmation == 'no' %}
            const button = document.getElementById('delete');
            
            if (button) {
                button.scrollIntoView({behavior: 'smooth', block: 'center'})
            }
        {% endif %} 
        });

    </script>
    {% endif %}
</div>
{% endblock content %}
