{% extends "expenses/base.html" %}

{% block content %}
<div class="expense-detail-container">
    <h1 class="expense-detail-title expense-info-title">
        <i class="fa-solid fa-user"></i>
        PERFIL DO USUÁRIO
    </h1>
    
    <div class="expense-detail-grid">

        <!-- Card de Informações Bancárias -->
        <div class="expense-info-card">
            <h2 class="expense-info-title">
            <i class="fa-solid fa-circle-info"></i>
                Informações Pessoais
            </h2>
            <div class="expense-info-grid">
                <div class="expense-info-item">
                    <span class="expense-info-label">
                        Nome completo
                    </span>
                    <span class="expense-info-value">{{user.first_name}} {{user.last_name}}</span>
                </div>
                <div class="expense-info-item">
                    <span class="expense-info-label">
                    <i class="fa-solid fa-envelope"></i>
                        E-mail
                    </span>
                    <span class="expense-info-value">
                        <span class="expense-info-value">{{user.email}}</span>
                    </span>
                </div>
                <div class="expense-info-item">
                    <span class="expense-info-label">
                    <i class="fa-solid fa-phone"></i>
                        Celular
                    </span>
                    <span class="expense-info-value">{{user.profile.phone|default:"Não cadastrado"}}</span>
                </div>
                <div class="expense-info-item">
                    <span class="expense-info-label">
                        <i class="fa-solid fa-user"></i>
                        Usuário
                    </span>
                    <span class="expense-info-value">{{user.username}}</span>
                </div>
            </div>
        </div>

        <div class="expense-info-card">
            <h2 class="expense-info-title">
            <i class="fa-solid fa-wallet"></i>
                Informações Bancárias
            </h2>
            <div class="expense-info-grid">
                <div class="expense-info-item">
                    <span class="expense-info-label">
                        <i class="fa-solid fa-building-columns"></i>
                        Banco
                    </span>
                    <span class="expense-info-value">{{user.profile.bank | default:"Não cadastrado"}}</span>
                </div>
                <div class="expense-info-item">
                    <span class="expense-info-label">
                    <i class="fa-solid fa-building"></i>
                        Agência
                    </span>
                    <span class="expense-info-value">
                        <span class="expense-info-value">{{user.profile.agency | default:"Não cadastrado"}}</span>
                    </span>
                </div>
                <div class="expense-info-item">
                    <span class="expense-info-label">
                    <i class="fa-solid fa-circle-dollar-to-slot"></i>
                        Número da Conta
                    </span>
                    <span class="expense-info-value">{{user.profile.account | default:"Não cadastrado"}}</span>
                </div>
                <div class="expense-info-item">
                    <span class="expense-info-label">
                    
                        Tipo de Conta
                    </span>
                    <span class="expense-info-value">{{user.profile.account_type | default:"Não cadastrado"}}</span>
                </div>
            </div>
        </div>

        <!-- Card de Localização -->
        <div class="expense-info-card">
            <h2 class="expense-info-title">
            <i class="fa-solid fa-map-location-dot"></i>
                Informações de Localização
            </h2>
            <div class="expense-info-grid">
                <div class="expense-info-item">
                    <span class="expense-info-label">
                        <i class="fa-solid fa-city"></i>
                        Cidade
                    </span>
                    <span class="expense-info-value">{{user.profile.city|default:"Não informado"}}</span>
                </div>
                <div class="expense-info-item">
                    <span class="expense-info-label">
                        <i class="fa-solid fa-location-dot"></i>
                        Estado
                    </span>
                    <span class="expense-info-value">{{user.profile.state_uf|default:"Não informado"}}</span>
                </div>
            </div>
        </div>

        <!-- Card de Valores -->
        <div class="expense-info-card">
            <h2 class="expense-info-title">
            <i class="fa-regular fa-building"></i>
                Informações corporativas
            </h2>
            <div class="expense-info-grid">
                <div class="expense-info-item">
                    <span class="expense-info-label">Centro de Custo</span>
                    <span class="expense-info-value expense-value-highlight">{{user.profile.cost_center | default:"Não informado"}}</span>
                </div>
                <div class="expense-info-item">
                    <span class="expense-info-label">Número da Frota</span>
                    <span class="expense-info-value expense-value-highlight">{{user.profile.fleet_number | default:"Não informado"}}</span>
                </div>
            </div>
        </div>
    </div>

    <div class="contact-links">
        <a class='btn btn-link' href="{% url "expense:user_update" %}">ATUALIZAR PERFIL</a>
    </div>

</div>
{% endblock content %}
