{% extends "expenses/base.html" %}

{% block content %}

<div class="expense-detail-container">
    {% if messages %}
        <div class="message-container">
            {% for message in messages %}
                {% if message.level_tag == 'success' or message.level_tag == 'error'  %}
                    <div class="message {{message.level_tag}}">
                        <i class="fa-solid {{message.extra_tags}} fa-2x"></i>
                        <p class="message-text">
                            {{message}}
                        </p>         
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
    <h1 class="expense-detail-title expense-info-title">
        <i class="fa-solid fa-people-group"></i>
        {{team.name}}
    </h1>

    <div class="contact-links">
        <a class='btn btn-link ' href="{% url "expense:teams" %}">
            <i class="fa-solid fa-arrow-left"></i>
            VOLTAR
        </a>
        <a class='btn btn-link' href="{% url "expense:team_update" team.pk %}">
            <i class="fa-solid fa-pen-to-square"></i>
            ATUALIZAR
        </a>
        <a class='btn btn-link btn-approved' href="{% url "expense:invite_member" team.pk %}">
            <i class="fa-solid fa-user-plus"></i>
            ADICIONAR MEMBRO
        </a>
        {% if company_admin %}
            {% if user.profile.team != team %}
                <a class='btn btn-link  btn-approved ' href="{% url "expense:join_team" team.pk %}">
                    ENTRAR NA EQUIPE
                </a>
            {% else %}
                <a class='btn btn-link btn-delete' href="{% url "expense:exit_team" team.pk %}">
                    SAIR DA EQUIPE
                </a>
            {% endif %}
        {% endif %}
    </div>
    

    <div class="expense-detail-grid">

        <!-- Card de Informações Básicas -->
        <div class="expense-description-card">
            <h2 class="expense-info-title">
                <i class="fa-solid fa-circle-info"></i>
                Informações da Equipe
            </h2>
            <div class="grid-four-columns center-text">

                <div class="expense-info-item">
                    <span class="expense-info-label">
                        <i class="fa-solid fa-building"></i>
                        Empresa:
                    </span>
                    <span class="expense-info-value">{{team.enterprise}}</span>
                </div>

                <div class="expense-info-item">
                    <span class="expense-info-label">
                        <i class="fa-solid fa-user-tie"></i>
                        Gestor Responsável
                    </span>
                    <span class="expense-info-value">{{team.team_manager.get_full_name|default:"Sem gestor"}}</span>
                </div>
            
                <div class="expense-info-item">
                    <span class="expense-info-label">
                        <i class="fa-solid fa-sitemap"></i>
                        Centro de Custo
                    </span>
                    <span class="expense-info-value">{{team.cost_center}}</span>
                </div>
                
                <div class="expense-info-item">
                    <span class="expense-info-label">
                        <i class="fa-solid fa-clock"></i>
                        Status
                    </span>
                    <span class="expense-info-value">
                        {% if team.is_active %}
                            <span class="expense-badge expense-approved">
                                <i class="fa-solid fa-unlock"></i>
                                Ativa
                            </span>
                        {% else %}  
                            <span class="expense-badge expense-recused">
                                <i class="fa-solid fa-lock"></i>
                                Inativa
                            </span>
                        {% endif %}
                    </span>
                </div>
            </div>
        </div>

        <div class="expense-description-card">
            <h2 class="expense-info-title">
            <i class="fa-solid fa-people-group"></i>            
                Membros da Equipe
            </h2>
            <div class="grid-four-columns">
                
                {% for member in members %}
                <div class="expense-info-item center-text user-member">
                    <a class="remove-text-decoration" href="{% url "expense:profile" member.user.username %}">
                        <p class="icon-container-user">
                            <i class="fa-solid fa-user fa-2x"></i>
                        </p>
                        <p class="expense-info-value">
                            {{member.user.first_name}} {{member.user.last_name}}
                        </p>
                    </a>
                </div>

                {% empty %}
                    <p class="none-member-text">Nenhum membro na equipe</p>
                {% endfor %}
            </div>
        </div>     
    </div>

    
    {% if page_obj %}
    <div class='responsive-table content'>
        <table class='contacts-table'>
            <caption>
                <h2 class="expense-detail-title expense-info-title">
                    <i class="fa-solid fa-cart-shopping"></i>
                    Todas as despesas da equipe
                </h2>
            </caption>
            <thead>
                <tr class='table-row table-row-header'>
                    <th class='table-header'></th>
                    <th class='table-header'>Solicitante</th>
                    <th class='table-header'>Categoria</th>
                    <th class='table-header'>Status</th>
                    <th class='table-header'>Fornecedor</th>
                    <th class='table-header'>Cidade</th>
                    <th class='table-header'>Data</th>
                    <th class='table-header'>Valor Total</th>
                </tr>
            </thead>

            <tbody>
                {% for expense in page_obj %}
                    <tr class='table-row'>
                        
                        <td class="table-cel">
                            <a class='table-link' href="{% url "expense:expense" expense.id %}">
                            <i class="fa-solid fa-up-right-from-square" title="Abrir despesa"></i>
                            </a>
                        </td>
                        <td class="table-cel">         
                            {{expense.owner_expenses.first_name}} {{expense.owner_expenses.last_name}}
                        </td>
                        
                        <td class="table-cel">
                            {{expense.category}}
                        </td>

                        <td class="table-cel">
                        {% if expense.status.name == "PENDENTE" %}
                            <span class="icon-status-pending">
                                <i class="fa-solid fa-hourglass-half"></i>
                            </span>
                        {% elif expense.status.name == "APROVADO" %}
                            <span class="icon-status-approved">
                                <i class="fa-regular fa-circle-check"></i>
                            </span>
                        {% else %}
                            <span class="icon-status-recused">
                                <i class="fa-regular fa-circle-xmark"></i>
                            </span>
                        {% endif %}
                        </td>
                        
                        <td class="table-cel">      
                            {{expense.supply}}
                        </td>
                        
                        <td class="table-cel">
                            {{expense.city}}
                        </td>
                        
                        <td class="table-cel">
                            {{expense.date|date:"d/m/Y" }}
                        </td>

                        <td class="table-cel">
                            R$ {{expense.value}}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% include "expenses/partials/_pagination.html" %}
    </div>
{% else %}
    <div class="none-expense-container">
        <h1 class="none-expense-text">
            Nenhuma despesa nesta equipe
        </h1>
    </div>
{% endif %}

    {% if company_admin %}
        <form action="{% url "expense:team_delete" team.id %}" method='POST'>
            {% csrf_token %}

            {% if confirmation == 'no' %}
                <input type="hidden" name="confirmation" value="yes">
                <button 
                id='delete'
                class="btn btn-link btn-delete"
                type='submit'>
                    CONFIRMA A EXCLUSÃO ?
                </button>            
            {% else %}
                <button 
                class="btn btn-link btn-delete"
                onclick='backToDeleteButton()'>
                    <i class="fa-solid fa-trash"></i>
                    DELETAR EQUIPE
                </button>            
            {% endif %}
        {% endif %}
    </form>
</div>

<script>
    
    window.addEventListener('DOMContentLoaded', function (){
    {% if confirmation == 'no' %}
        const button = document.getElementById('delete');
        
        if (button) {
            button.scrollIntoView({behavior: 'smooth', block: 'center'})
        }
    {% endif %} 
    });

</script>
{% endblock content %}