{% extends "expenses/base.html" %}
{% load static %}

{% block content %}
    <div class="update-enterprise-container">
        <div class="flex-frame-login-form">
            <div class="form-wrapper flex-frame max-width-form-profile
                margin-top-mendium padding-forms form-update-enterprise">
                <h2 class="expense-detail-title expense-info-title">
                    <i class="fa-solid fa-building"></i>
                    {{title_page}}
                </h2>
                <form action="{{form_action}}" method="post">   
                    {% csrf_token %}

                    <div class="form-content">

                        {% for field in form %}
                        
                        {% if field.name == 'name'%}
                            <div class="form-row-two-columns">
                        {% endif %}

                            <div class="form-group">  
                            
                                <label for="{{field.id_for_label}}">{{field.label}}</label>
                                {{field}}
                                {{field.errors}}

                            {% if field.help_text %}
                                <p class="help-text">
                                    {{field.help_text}}
                                </p>
                            {% endif %}
                        </div>

                        
                        {% if field.name == 'cnpj' %}
                            </div>
                        {% endif %}

                        {% endfor %}
                    </div>

                {% if form.non_field_errors %}
                <div class="form-content">
                    <div class="form-group">
                        <div class="message error">
                            {{form.non_field_errors}}
                        </div>         
                    </div>
                </div>
                {% endif %}
                
                <div class="form-content">
                    <div class="form-group">
                        <button class="btn" type='submit'>
                            {{title_page}}
                        </button>                   
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}