<form action="{{form_action}}" method="post">     
    
    {% csrf_token %}
    
    <div class="form-content">    
        {% for field in form %}
        <div class="form-group"> 
            
        {% if field.field.widget.input_type == 'checkbox' %}
            <div>
                {{field}}
                <label for="{{field.id_for_label}}">{{field.label}}</label>
            </div>
        {% else %}
            <label for="{{field.id_for_label}}">{{field.label}}</label>
            {{field}}
        {% endif %}

            {{field.errors}}

            {% if field.help_text %}
                <p class="help-text">
                    {{field.help_text}}
                </p>
            {% endif %}

        </div>            
        {% endfor %}
    </div>

    {% if form.non_field_errors %}
    <div class="form-content">
        <div class="form-group">
            <div class="message error">
                {{form.non_field_errors}}
            </div>         
        </div>
    </div>
    {% endif %}
    
    <div class="form-content">
        <div class="form-group">
           
                {% if is_login %}        
                    <button class="btn" type='submit'>
                        ENTRAR
                    </button>
                    <a class='btn btn-link btn-approved center-text margin-top-minimum' href="{% url "expense:register"%}">
                        CADASTRAR-SE
                    </a>
                
                {% elif is_register %}
                    <button class="btn" type='submit'>
                        CADASTRAR-SE     
                    </button>                   
                {% elif is_user_update %}
                    <button class="btn" type='submit'>
                        ATUALIZAR PERFIL
                    </button>      
                {% elif form.instance and form.instance.pk %}
                    <button class="btn" type='submit'>
                        ATUALIZAR DESPESA
                    </button> 
                    
                {% elif form.is_profile_complete %} 
                    <button class="btn" type='submit'>
                        CADASTRAR PERFIL
                    </button>       
                {% elif is_invite %}
                    <button class="btn" type='submit'>
                        CONVIDAR MEMBRO
                    </button>   
                {% else %}
                    <button class="btn" type='submit'>
                        CADASTRAR DESPESA
                    </button> 
                {% endif %}
            
        </div>
    </div>
