<form action="{{form_action}}" method="post">     
    
    {% csrf_token %}
    
    <div class="form-content">

        {% for field in form %}
            
            {% if field.name == 'first_name'%}
                <div class="form-row-two-columns">
            {% endif %}

            {% if field.name == 'email'%}
                <div class="form-row-two-columns">
            {% endif %}
            
            {% if field.name == 'phone'%}
                <div class="form-row-tree-columns">
            {% endif %}

            {% if field.name == 'password1'%}
                <div class="form-row-two-columns">
            {% endif %}

            {% if field.name == 'bank'%}
                <div class="form-row-two-columns">
            {% endif %}

            {% if field.name == 'account'%}
                <div class="form-row-two-columns">
            {% endif %}

            {% if field.name == 'fleet_number'%}
                <div class="form-row-tree-columns">
            {% endif %}

                <div class="form-group">  
                    
                {% if field.field.widget.input_type == 'checkbox' %}
                    <div>
                        {{field}}
                        <label for="{{field.id_for_label}}">{{field.label}}</label>
                    </div>
                {% else %}
                    <label for="{{field.id_for_label}}">{{field.label}}</label>
                    {% if field.name == 'username'%}    
                        <div class="input-with-icon">
                            {{field}}
                            <i class="fa-solid fa-user"></i>
                        </div>
                    {% elif field.name == 'password'%}    
                        <div class="input-with-icon">
                            {{field}}
                            <i class="fa-solid fa-lock"></i>
                        </div> 
                    {% elif field.name == 'password1'%}    
                        <div class="input-with-icon">
                            {{field}}
                            <i class="fa-solid fa-lock"></i>
                        </div>
                    {% elif field.name == 'password2'%}    
                        <div class="input-with-icon">
                            {{field}}
                            <i class="fa-solid fa-lock"></i>
                        </div>
                    {% elif field.name == 'email'%}    
                        <div class="input-with-icon">
                            {{field}}
                            <i class="fa-solid fa-envelope"></i>
                        </div>
                    {% else %}
                        {{field}}
                    {% endif %}
                {% endif %}

                {{field.errors}}

                {% if field.help_text %}
                    <p class="help-text">
                        {{field.help_text}}
                    </p>
                {% endif %}
            </div>

            
            {% if field.name == 'last_name' %}
                </div>
            {% endif %}

            {% if field.name == 'username' %}
                </div>
            {% endif %}

            {% if field.name == 'password2' %}
                </div>
            {% endif %}

            {% if field.name == 'city' %}
                </div>
            {% endif %}

            {% if field.name == 'agency' %}
                </div>
            {% endif %}

            {% if field.name == 'account_type' %}
                </div>
            {% endif %}

            {% if field.name == 'fleet_number' %}
                </div>
            {% endif %}

        {% endfor %}
    </div>

    {% if form.non_field_errors %}
    <div class="form-content">
        <div class="form-group">
            <div class="message error">
                {{form.non_field_errors}}
            </div>         
        </div>
    </div>
    {% endif %}
    
    <div class="form-content">
        <div class="form-group">
                {% if is_login %}
                <div class="padding-forms">        
                    <button class="btn enter-btn border-radius-form-login" type='submit'>
                        ENTRAR
                    </button>
                    <a class='btn btn-link btn-approved center-text margin-top-minimum border-radius-form-login' href="{% url "expense:register"%}">
                        CADASTRAR-SE
                    </a> 
                </div>
                {% else %}
                <button class="btn" type='submit'>
                    {{title_page}}
                </button>                   
                {% endif %}           
        </div>
    </div>
